.git
.github
.vscode

docs
desktop

backend/uploads
backend/configs/config.yaml
backend/cmd/**/__debug_bin*

frontend/node_modules
frontend/dist
frontend/.vite
frontend/.env
frontend/.env.*

deploy/all-in-one/dist

**/node_modules
**/dist
**/.vite
**/target
**/*.tsbuildinfo
**/*.log
**/__pycache__